.feature-section .row.clearfix {
    display: flex;
    flex-wrap: wrap;
}

.feature-section .feature-block-one {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feature-section .feature-block-one .inner-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.feature-section .feature-block-one .lower-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-carousel .owl-nav {
    display: none !important;
}


/* --- Make Dropdowns Appear on Hover --- */
header.main-header .main-menu .navigation > li.dropdown:hover .megamenu,
header.main-header .main-menu .navigation > li.dropdown:hover > ul {
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0 !important;
}

.banner-carousel .owl-nav {
    display: none !important;
}